body {
  font-family: sans-serif;
}

ol#suggestions {
  margin: 0;
  list-style-type: none;
}
li {
  width: 50%;
  border: 1px solid black;
  background: #CCC;
  margin: 10px;
}
.restaurant-name {
  font-weight: bold;
}

.restaurant-hours {
  font-size: small;
}