body {
    background-color: #20639B;
}

.wrapper {
    margin-right: auto;
    margin-left:  auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left:  10px;
    background: #eaeaea;
    
}

#form {
    font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
} 
h1 {
    text-align: center;
    padding-top: 25px;
}

#title, #weather, #date, #location, #content {
	box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	font: 95% Arial, Helvetica, sans-serif;
}

#content {
    min-height: 100px;
}

#submit {
    width: 100%;
	padding: 3%;
}

ul#journallist {
    list-style-type: none;
    font: 95% Arial, Helvetica, sans-serif;
    padding-bottom: 25px;
    
}

li {
    border: 1px solid #ccc;
    width: 33%;
    display: inline-block;
    background: #fff;
}

button.deleteButton, button.editButton {
    float: right;
}