body {
    background-color: #20639B;
}

.wrapper {
    margin-right: auto;
    margin-left:  auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left:  10px;
    background-color: white;
}

h1 {
    text-align: center;
}

#titledatecontainer {
    width: 95%;
}

#title {
    text-align: center;
    width: 35%;
    float: right;
}

#date {
    text-align: center;
    width: 35%;
    float: right;
}

#weatherlocationcontainer {
    width: 95%;
    clear:both;
}

#weather {
    text-align: center;
    width: 35%;
    float: right;
}

#location {
    text-align: center;
    width: 35%;
    float: right;
}

#content {
    width: 90%;
    text-align:left;
    display: block;
    margin: 0 auto;
    height: 250px;
    
}
