* {
    margin: auto;
}
body {
    background-color: #c9af98;
    position: relative;
    top: 15%;
}
h1 {
    max-width: 154px;
}
#container1 {
    max-width: 282px;
}
#todo-name {
    width: 274px;
    text-align: center;
    height: 30px;
    font-size: 14px;
    border-radius:28px;
    border:1px solid white;
    padding: 20px;
}
#container2 {
    padding: 0px;
    max-width: 282px;
}
#todo-list {
    max-width: 200px;
    position: relative;
    top: 3%;
    margin-left: 44%;
}

li {
    font-size: 25px;
}

#add-todo {
    background-color:#ed8a63;
	border-radius:28px;
	border:1px solid #ed8a63;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:12px;
    text-decoration:none;
    width: 274px;
	text-shadow:0px 1px 0px #2f6627;
}

#remove-todo {
    background-color:#3a4660;
	border-radius:28px;
	border:1px solid #3a4660;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:12px;
    text-decoration:none;
    width: 274px;
	text-shadow:0px 1px 0px #2f6627;
    width: 274px;
}

#suggest-todo {
    background-color:#800000;
	border-radius:28px;
	border:1px solid #845007;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:12px;
    text-decoration:none;
    width: 274px;
	text-shadow:0px 1px 0px #2f6627;
    width: 274px;

}