* {
    margin: auto;
}
#maincontainer {
    background-color: #FEF0CA;
    width: 600px;
    height: 100%;
    padding-top: 120px;
    box-shadow: 0px 0px 30px 10px;
}
h1 {
    max-width: 154px;
}

body {
    background-color: #C3D1AE;
}

#container1 {
    max-width: 282px;
}
#todo-name {
    width: 274px;
    text-align: center;
    height: 30px;
    font-size: 14px;
    border-radius:28px;
    border:1px solid white;
    padding: 20px;
}
#container2 {
    padding: 0px;
    max-width: 282px;
}
#container3 {
    max-width: 400px;
}
#todo-list {
    margin-top: 3%;
    left: 115px;
}

li {
    font-size: 25px;
}

#add-todo {
    background-color:#ed8a63;
	border-radius:28px;
	border:1px solid #ed8a63;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:12px;
    text-decoration:none;
    width: 274px;
	text-shadow:0px 1px 0px #2f6627;
}

#remove-todo {
    background-color:#628D88;
	border-radius:28px;
	border:1px solid #628D88;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:12px;
    text-decoration:none;
    width: 274px;
	text-shadow:0px 1px 0px #2f6627;
    width: 274px;
}

#suggest-todo {
    background-color:#800000;
	border-radius:28px;
	border:1px solid #845007;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:12px;
    text-decoration:none;
    width: 274px;
	text-shadow:0px 1px 0px #2f6627;
    width: 274px;

}

#completebtn {
    float: right;
}

#removebtn {
	float: right;
}

