body {
  background-image: url("picture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#circle {
  margin-top: 6%;
}

#maincontainer {
  text-align:center;
  display:inline-block;
  width: 100%;
}

#location {
  font-size: 26px;
}

#button1 {
  padding: 8px;
  width: 100px;
  font-size: 14px;
  border-radius: 17px;
  background: #E8E8E8;
  border: 2px solid #E8E8E8;
}

#boxcontainer{
  margin-top: 6%;
  background: rgb(255,255,255,0.3);
  height: 400px;
  width: 500px;
  display: inline-block;
  padding: 10px;
  border-radius: 15px;
}

#test {
  padding: 15px;
}

.suggestion {
  padding: 10px;
  font-size: 28px;
}

#listcontainer {
  width: 50%;
}

input {
  width: 300px;
  height: 30px;
  text-align: center;
  border-radius: 15px;
  background: rgb(255,255,255, 0.7);
  font-size: 22px;
  border: 2px solid #E8E8E8;
}

li {
  text-decoration: none;
  display: table;
  margin:0 auto;
  list-style-type: none;
}
